body{
    color: whitesmoke;
    background-image: url("background.jpeg");
    background-color: #202020;
}
header{
    display: grid;
    grid-template-columns: auto auto;
}
.first-img{
    margin: 40pt 0pt 0pt 80pt;
}
h1{
    font-size: 90pt;
}
h3{
    font-size: 30pt;
}
h4{
    font-size: 24pt;
}
p{
    font-size: 12pt;
}

