body{
    color: whitesmoke;
    background-color: #202020;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    background-image: url("money-bg.jpeg");
}
h1{
    font-size: 90pt;
}
h3{
    font-size: 30pt;
}
h4{
    font-size: 24pt;
}
p{
    font-size: 20pt;
}
.first-img{
    margin: 40pt 0pt 0pt 80pt;
}
.title-cls{
    color: #90fc03;
    animation-name: anim;
    animation-duration: 2s;
}

@keyframes anim{
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

